---
const {title, text, subtitle,img} = Astro.props

---

<div class="mx-auto max-w-md overflow-hidden rounded-xl bg-white shadow-md md:max-w-2xl">
 
     <!-- Image -->
  <div class="aspect-4/3 overflow-hidden">

    <img
      {...img}
      class="h-full w-full object-cover transition-transform duration-300 hover:scale-105"
    />

  </div>
    <div class="p-8">
      <div class="text-sm font-semibold tracking-wide text-pink-500 uppercase">{subtitle}</div>
      <a href="#" class="mt-1 block text-lg leading-tight font-medium text-black hover:underline">
        {title}
      </a>
      <p class="mt-2 text-gray-500">
        {text}
      </p>
   
  </div>
</div>
