---
import IconLogo from "../assets/logo.svg";
import Navbar from "./Navbar.astro";
---

<header class="sticky top-0 z-50 border-b border-white/10 bg-venus backdrop-blur-md">

  <div class="container mx-auto flex items-center justify-between px-4 py-4">

    <!-- Logo -->
    <a
      href="/"
      class="flex items-center gap-3"
      aria-label="Ir al inicio"
    >
      <IconLogo class="size-12" />

      <span class="font-fredoka text-2xl font-bold lowercase text-white">
        5 Pétalos de Venus
      </span>
    </a>

    <!-- Navigation -->
    <Navbar />

  </div>

</header>