---
interface Props {
  title: string;
  description: string;
  buttonText?: string;
}

const {
  title,
  description,
  buttonText = "Agendar cita",
} = Astro.props;
---

<section
  class="flex min-h-[65vh] items-center justify-center  px-6 py-20 text-gray-700"
>
  <div class="max-w-3xl text-center">

    <h1 class="mb-6 text-4xl font-extrabold tracking-tight md:text-6xl">
      {title}
    </h1>

    <p class="mx-auto mb-10 max-w-2xl text-lg leading-relaxed text-gray-500 md:text-xl">
      {description}
    </p>

    <button
      class="rounded-full bg-venus px-8 py-4 text-sm font-bold uppercase tracking-wide text-white transition-all duration-300 hover:scale-105 hover:bg-venus/80"
    >
      {buttonText}
    </button>

  </div>
</section>
